/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.my-body{
  min-height: 70vh;
  width: 100%;
  background: #e9eef5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.my-container .my-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my-container .my-content .my-left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.my-content .my-left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.my-content .my-left-side .my-details{
  margin: 14px;
  text-align: center;
}
.my-content .my-left-side .my-details i{
  font-size: 30px;
  color: #f19427;
  margin-bottom: 10px;
}
.my-content .my-left-side .my-details .my-topic{
  font-size: 18px;
  font-weight: 500;
}
.my-content .my-left-side .my-details .my-text-one,
.my-content .my-left-side .my-details .my-text-two{
  font-size: 14px;
  color: #afafb6;
}
.my-container .my-content .my-right-side{
  width: 75%;
  margin-left: 75px;
}
.my-content .my-right-side .my-topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #f19427;
}
.my-right-side .my-input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.my-right-side .my-input-box input,
.my-right-side .my-input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.my-right-side .my-message-box{
  min-height: 110px;
}
.my-right-side .my-input-box textarea{
  padding-top: 6px;
}
.my-right-side .my-button{
  display: inline-block;
  margin-top: 12px;
}
.my-right-side .my-button input[type="submit"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #f19427;
  cursor: pointer;
  transition: all 0.3s ease;
}
.my-button input[type="submit"]:hover{
  background: #f19427;
}

@media (max-width: 950px) {
  .my-container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .my-container .my-content .my-right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .my-container{
    margin: 40px 0;
    height: 100%;
  }
  .my-container .my-content{
    flex-direction: column-reverse;
  }
 .my-container .my-content .my-left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .my-container .my-content .my-left-side::before{
   display: none;
 }
 .my-container .my-content .my-right-side{
   width: 100%;
   margin-left: 0;
 }
}